body{
    
    background-image: url('https://media.istockphoto.com/photos/dramatic-american-football-stadium-picture-id530810426?b=1&k=20&m=530810426&s=170667a&w=0&h=ocKx7cDRsRwUyqmuli_6pDoKht5J0fW4MkjsBVbTgYQ=');
    background-repeat: no-repeat;
    background-size: 90%;
}
.jerseySect{
    visibility: hidden;
}
.jersey{
    mix-blend-mode:multiply;
    height: 500px;
    width: 700px;
    margin-left: 5%;
    margin-top: 3%;
    z-index: 0;
}

.playerName{
    font-size: 60px;
    color: white;
    position: fixed;
    padding: 2em;
    left: 33%;
    top: 25%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 6px black
}

.playerNumber{
    font-size: 160px;
    color: white;
    position: fixed;
    padding: 2em;
    left: 33%;
    top: 55%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 8px black
}
/* .outfielders{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    z-index: 0;

} */
/* #attackers{
    margin-left: 35%;
}
#midfield{
    margin-left: 35%;
}
#defence{
    margin-left: 26.5%;
}
#goalkeeperSect{
    margin-left: 50%;
}
.goalNum{
    position: absolute;
    color: yellow;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    left: 39.4%;
    top:12%;
}
.goalName{
position: absolute;
color: yellow;
font-size: 20px;
font-weight: bold;
z-index: 1;
left:39%;
top:6%;
} */

.Control{
    position:absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    border-left: solid 1.5px black;
    background-color: darkcyan;
    text-align: center;
}
.createPlayerSection{
    visibility: hidden;
    position:absolute;
    right: 50%;
    top: 10%;
    text-align: center;
}
.createGoalkeeperSect{
    visibility: hidden;
    position:absolute;
    right: 50%;
    top: 10%;
    text-align: center;
}
.getPlayerInfoSect{
    visibility: hidden;
    position:absolute;
    right: 50%;
    top: 10%;
    text-align: center;
}
.goalkeeperInfoSect{
    visibility: hidden;
}
.playerInfoSect{
    visibility: hidden;
}
.setPlayerInfoSect{
    visibility: hidden;
    position:absolute;
    right: 50%;
    top: 10%;
    text-align: center;
}
.goalKeeperSet{
    visibility: hidden;
}
.playerSet{
    visibility: hidden;
}
.PlayerInput{
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10px;
}
.GoalKeeperInput{
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10px;
}
.playerInfo{
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10px;
}
.isgoalkeeperInfo .isplayerInfo .isPlayersetInfo .isGoalsetInfo{
    display: flex;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10px;
}
.searchInput{
    display: flex;
    text-align: center;
    margin-top: 20%;
    margin-left: 40%;
    margin-bottom: 5px;
    font-size: 20px;
}

.returnBtn{
    position:absolute;
    right: 60%;
    top: 0;
    text-align: center;
}
select{
    width: 100%;
}
.ControlBtn{
    background-color:gold;
    height: 130px;
    width: 130px;
    margin: 6px;
    border-radius: 2rem;
    cursor: pointer;
}
.sectBtn{
    background-color:gold;
    border-radius: 2rem;
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    margin-top: 9rem;
    text-align: center;
}
.SearchPlayerSect{
    visibility: hidden;
    position:absolute;
    right: 50%;
    top: 10%;
    text-align: center;
}